/* Colours */

$primary: #002333;
$dark: #333;
$light: #f4f4f4;
$font-color: #002333;

/* fonts */

@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400&family=Ubuntu&display=swap");

/* html body */

html {
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    //  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial;

    font-family: "Merriweather Sans", sans-serif;

    color: $primary;
    background-color: $light;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 2rem;
    //text-transform: uppercase;
    //font-family: "Open Sans", "Montserrat", "Helvetica Neue", Helvetica, Arial;
    font-family: "Merriweather Sans", sans-serif;

    letter-spacing: 1px;
}
p {
    margin: 0 0 1.5rem;
}

a {
    color: $primary;
    &:hover,
    &:focus {
        text-decoration: none;
        color: darken($primary, 20%);
    }
}

/* Nagivation */

.navbar {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    // text-transform: uppercase;
    // font-family: "Open Sans", "Montserrat", "Helvetica Neue", Arial;

    font-family: "Merriweather Sans", sans-serif;
}

.navbar-brand {
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
}

.navbar-brand > img {
    border-radius: 0.3rem;
    width: 2rem;
    margin-right: 0.2rem;
    margin-bottom: 0.35rem;
}
.navbar-brand:focus {
    outline: none;
}

.navbar-custom {
    background-color:$primary;
}
.navbar-custom a {
    color: $light;
}
.navbar-custom .nav li a {
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li .active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.2);
}
.navbar-dark {
    .navbar-nav {
        .nav-link {
            color: white;
        }
    }
}

@media (min-width: 767px) {
    .navbar {
        padding: 1.4rem 0;
        border-bottom: none;
        letter-spacing: 1px;
        //background:transparent;
        -webkit-transition: background 0.5s ease-in-out,
            padding 0.5s ease-in-out;
        -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
        transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 0;
        // background-color: $dark;
    }

    .navbar-custom.top-nav-collapse {
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }
}

.page-scroll {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -webkit-transform;
    -moz-transition-duration: 1s;
}

/* Home Section */

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 6rem 0;
    text-align: center;
    color: $primary;
    background: url(../img/main.jpg) no-repeat bottom center scroll;
    background-color: $dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.intro-body {
    display: table-cell;
    vertical-align: middle;
}
.brand-heading {
    font-size: 2.5rem;
}

.intro-text {
    margin: 4rem;
    font-size: 1.5rem;
    color: $primary;
}

.btn-dark {
    background-color: $primary !important; /*change the btn background color in
                                            bootstrap */
}

@media (min-width: 767px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .brand-heading {
        font-size: 6rem !important;
    }
    .intro-text {
        font-size: 1.7rem;
    }
}
/* Content Section */

.content-section {
    padding: 2rem 0 2rem;
    color: $primary;
}

/* Service Section  */

.block-icon-left {
    overflow: auto;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0 0 0.75rem;
        padding: 0;
        font-size: 1.4rem;
    }
    .icon-content {
        float: left;
        width: 70%;
    }
    .icon {
        float: left;
        width: 30%;
        margin-top: 0.75rem;
    }
}

.service-section {
    // color:$primary;
}
/* Customer Plans */

.header-primary {
    background-color: $primary;
    color: $light;
    font-size: 1rem;
}

.header-css {
    color: white;
    border-bottom: 0;
}

.customer .card {
    box-shadow: 0 0 20px #ccc;
    margin-top: 1.2rem;
}
.customer .card-footer {
    margin: 1.2rem;
    font-size:1.3rem;
    font-weight:bold;
}



/* About Section */

.about-section {
    width: 100%;
    padding: 2rem 0;
    color: $light;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: $dark;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.btn-light {
    color: $primary !important; // how to change a btn font color in bootstrap.
}

@media (min-width: 767px) {
    .who-section {
        padding: 6rem 0;
    }
}

/* Portfolio Section */

#portfolio {
    text-align: center;
    padding-bottom: 5rem;
    .list-inline {
        letter-spacing: -6px;
        margin: 0 -1rem 1rem;
        li {
            letter-spacing: 0;
            padding: 0.5em 1rem;
            vertical-align: middle;
        }
    }
}

.portfolio {
    // margin: 4rem 0;
    // position: relative;
}
.portfolio h1 {
    color: $primary;
    margin: 2rem;
}
.portfolio .card {
    box-shadow: 0 0 20px #ccc;
    margin-top: 1.2rem;
}
.portfolio .card img {
    width: 100%;
    height: 18rem;
}

.portfolio .card-title {
    color: $primary;
}
.portfolio .card-body {
    padding: 1rem;
}

/* Contact section */

#contact {
    background-color: $primary;
    color: $light;
    padding-bottom: 5rem;
}

.banner-social-buttons {
    letter-spacing: -6px;
    margin: 0 -0.5rem 1rem;
    li {
        vertical-align: middle;
        margin: 0 !important;
        padding: 0 0.5rem 0.5rem;
        letter-spacing: 0;
    }
    li a {
        color: $primary;
    }
}

/* Footer section */

footer {
    margin-top: 0.75rem;
    padding-top: 2rem;
    height: 80px;
    text-align: center;
    color: $primary;
}
